cython
pandas
plotly
celery[redis]
django
django-celery-results
django_remote_submission
scipy
requests
periodictable
asgi_redis

# For creating the documentation pages
sphinx

# Need the newest version
docutils==0.13.1

# For documenting Django applications
django-sphinx-autodoc
