cython
pandas
plotly
celery[redis]
django==1.11.8
django-celery-results
django_remote_submission==1.1.7
scipy
requests
periodictable
asgi_redis

# For creating the documentation pages
sphinx

# Need the newest version
docutils==0.13.1

# For documenting Django applications
django-sphinx-autodoc
