{% extends "base.html" %}

{% block content %}
<h2>Capacity and SLD calculator</h2>
<ul>
<li>To compute the SLD, enter the material composition and density.</li>
<li>To compute capacity, also enter the electrode geometry.</li>
<li>The stoichiometry refers, for instance, to the maximum <i>x</i> in <i>Li<sub>x</sub>:Si</i>.</li>
<li>The oxidation state change refers to the change in oxidation state in the redox process.</li>
</ul>

<form action="" method="POST">{% csrf_token %}
<table>
<tr><th>{{ form.material_formula.label_tag }}</th><td>{{ form.material_formula }}</td></tr>
<tr><th>{{ form.electrode_density.label_tag }}</th><td>{{ form.electrode_density }}</td></tr>
<tr><td colspan=2><br>The following fields only need to be changed when computing capacity:<br><br></td></tr>
<tr><th>{{ form.electrode_radius.label_tag }}</th><td>{{ form.electrode_radius }}</td></tr>
<tr><th>{{ form.electrode_thickness.label_tag }}</th><td>{{ form.electrode_thickness }}</td></tr>
<tr><th>{{ form.ion_packing.label_tag }}</th><td>{{ form.ion_packing }}</td></tr>
<tr><th>{{ form.valence_change.label_tag }}</th><td>{{ form.valence_change }}</td></tr>
</table>
<br><input class="ui-button ui-widget ui-corner-all" type="submit" value="calculate"/>
</form>
<p>
{% if capacity %}
<h2>
Capacity = <b>{{ capacity }} mAh</b>
</h2>
<table style="width:80%;">
  <tr>
    <td>C/1 = <b>{{ capacity }} mA</b></td>
    <td>C/3 = <b>{{ c_over_3 }} mA</b></td>
    <td>C/5 = <b>{{ c_over_5 }} mA</b></td>
  </tr>
</table>
<h2>
Neutron SLD = <b>{{ sld }} x10<sup>-6</sup>/&#8491;<sup>2</sup></b>
</h2>
<table style="width:80%;">
  <tr>
    <td>Im(SLD) = <b>{{ im_sld }} x10<sup>-6</sup>/&#8491;<sup>2</sup></b></td>
    <td>Incoherent SLD = <b>{{ incoherent }} x10<sup>-6</sup>/&#8491;<sup>2</sup></b></td>
    <td>Density = <b>{{ density }} g/cm<sup>3</sup></b></td>
  </tr>
</table>

{% endif %}
{% endblock %}
