{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" media="all" href="/static/thirdparty/dynatable/jquery.dynatable.css" />
<script type='text/javascript' src='/static/thirdparty/dynatable/jquery.dynatable.js'></script>
<script>
    var records = {% autoescape off %}{{ file_list }}{% endautoescape %};
    var dynatable = null;
    $(document).ready( function() {
     $('#data_table').dynatable({dataset: {records: records,
                                           perPageOptions: [25, 50, 100],
                                           perPageDefault: 25},
                                 features: {pushState: false}
     });
     dynatable = $('#data_table').data('dynatable');
     dynatable.sorts.add('timestamp', -1)
     dynatable.process();
    });
    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    }
</script>
{% endblock %}

{% block content %}
<div class="error">{{ message }}</div>

<h2>Data files</h2>
This application allows you to load reflectivity data using the form below. Once loaded, your files will appear on this page.
You can annote your files with key words and use the search box to retrieve them. By clicking the <i>click to fit</i> link, you
will be brought to the fitting page, where you will be able to create your model and perform your minimization.

<h2>Upload data</h2>
Use the following form to upload a new data file. The file format should be 4-column ascii in
the following order: q, R, dR, dq.
<p>
<form id='left' enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

<p>
<h2>Available data</h2>
Your current list of data sets is the following:
<p>
<div class='data_manager'>
<table id='data_table'>
  <thead>
    <tr>
      <th data-dynatable-column="run_id">File identifier</th>
      <th data-dynatable-column="tags">Tags</th>
      <th data-dynatable-column="url">Actions</th>
      <th data-dynatable-column="created_on" data-dynatable-sorts="timestamp" >Time</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
{% endblock %}

{% block right_side_links %}
  <span style="float:right">
    <a href="{% url 'fitting:show_fits' %}">show fits</a> | <a href="{% url 'fitting:show_models' %}">saved models</a>
  </span>
{% endblock %}
