{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" media="all" href="/static/thirdparty/dynatable/jquery.dynatable.css" />
<script type='text/javascript' src='/static/thirdparty/dynatable/jquery.dynatable.js'></script>
<script>
    var records = {% autoescape off %}{{ json_list }}{% endautoescape %};
    var dynatable = null;
    $(document).ready( function() {
     $('#data_table').dynatable({dataset: {records: records,
                                           perPageOptions: [25, 50, 100],
                                           perPageDefault: 25},
                                 features: {pushState: false}
     });
     dynatable = $('#data_table').data('dynatable');
     dynatable.sorts.add('timestamp', -1)
     dynatable.process();
    });
    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.textContent);
    }
</script>
{% endblock %}

{% block content %}
<div class="error">{{ message }}</div>

<h2>Available fits</h2>
The following are your latest fits:
<p>
<div class='data_manager'>
<table id='data_table'>
  <thead>
    <tr>
      <th data-dynatable-column="data">Data</th>
      <th data-dynatable-column="layers">Layers</th>
      <th data-dynatable-column="created_on" data-dynatable-sorts="timestamp" >Time</th>
      <th data-dynatable-column="url">Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
{% endblock %}

{% block right_side_links %}
  <span style="float:right">
    <a href="{% url 'fitting:show_files' %}">show files</a> | <a href="{% url 'fitting:show_models' %}">saved models</a>
  </span>
{% endblock %}
