{% extends "base.html" %}

{% block header %}
<script>
  function remove_entry(remove_id, layer_number_id, name_id, thickness_id, sld_id, roughness_id,
                        thickness_fixed_id, sld_fixed_id, roughness_fixed_id) {
      $(remove_id).prop('checked', !$(remove_id).prop('checked')); 
      $(remove_id).hide();
      $(remove_id+'_icon').hide();
      $(layer_number_id).hide();
      $(name_id).hide();
      $(thickness_id).hide();
      $(sld_id).hide();
      $(roughness_id).hide();
      $(thickness_fixed_id).hide();
      $(sld_fixed_id).hide();
      $(roughness_fixed_id).hide();
      $(thickness_fixed_id+'_range').hide();
      $(sld_fixed_id+'_range').hide();
      $(roughness_fixed_id+'_range').hide();
  }

  function set_fixed(fix_id) {
    if ($(fix_id).prop('checked')) {
      $(fix_id+'_range').hide();
    } else {
      $(fix_id+'_range').show();
    }
  }
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endblock %}


{% block content %}
  <div class="error">{{ message }}</div>

  <div id="graph">{{ html_data|safe }}</div>

<h2>Layer model</h2>
Checked parameters will be kept fixed during the fitting procedure.

<form action="" method="POST">{% csrf_token %}
  <table class="property_table  fixed_table" >
    <tr><th>Data</th> <td {% if data_form.data_path.errors %}class='error_row' title='{{ data_form.data_path.errors|first }}'{% endif %}>{{ data_form.data_path }}</td></tr>
    <tr><th>Scale</th> <td {% if data_form.scale.errors %}class='error_row' title='{{ data_form.scale.errors|first }}'{% endif %}>{{ data_form.scale }}</td><td onclick="set_fixed('#{{ data_form.scale_is_fixed.id_for_label }}')">{{ data_form.scale_is_fixed }}</td></tr>
    <tr><th>Background</th> <td {% if data_form.background.errors %}class='error_row' title='{{ data_form.background.errors|first }}'{% endif %}>{{ data_form.background }}</td><td onclick="set_fixed('#{{ data_form.background_is_fixed.id_for_label }}')">{{ data_form.background_is_fixed }}</td></tr>
  </table>

  <p>
  Neutrons scatter off the first layer on top of the following list. You can change the order of the layers by changing the <b>layer number</b>.
  The layers will be re-ordered upon submission.

  {{ layers_form.management_form }}
  <table class="property_table">
    <thead>
      <tr><th>Layer number <span title="The layer number indicates the order of the layers. The layers will be re-ordered according to their layer number upon submission." class="ui-icon ui-icon-info"> </span></th><th>Name</th> <th>Thickness (&#8491;)</th> <th></th>
      <th>SLD (10<sup>-6</sup>/&#8491;<sup>2</sup>)</th><th></th> <th>Roughness (&#8491;)</th> <th></th>
      <td class='icon_input'><a href="?extra=1"><span title='Click to add an entry' class="ui-icon ui-icon-circle-plus"></span></a></td></tr>
    </thead>
    <tbody>
      <tr class="short_input">
        <td>Front</td>
        <td {% if data_form.front_name.errors %}class='error_row' title='{{ data_form.front_name.errors|first }}'{% endif %}>{{ data_form.front_name }}</td><td>-</td><td></td>
        <td {% if data_form.front_sld.errors %}class='error_row' title='{{ data_form.front_sld.errors|first }}'{% endif %}>{{ data_form.front_sld }}</td><td onclick="set_fixed('#{{ data_form.front_sld_is_fixed.id_for_label }}')">{{ data_form.front_sld_is_fixed }}</td>
        <td>-</td><td></td><td></td>
      </tr>
    {% for form in layers_form %}
      <tr class="short_input">
        {{ form.id }}<span style='display:none;'>{{ form.remove }}</span>
        <td {% if form.layer_number.errors %}class='error_row' title='{{ form.layer_number.errors|first }}'{% endif %}>{{ form.layer_number}}</td>
        <td {% if form.name.errors %}class='error_row' title='{{ form.name.errors|first }}'{% endif %}>{{ form.name }}</td>
        <td {% if form.thickness.errors %}class='error_row' title='{{ form.thickness.errors|first }}'{% endif %}>{{ form.thickness }}</td><td onclick="set_fixed('#{{ form.thickness_is_fixed.id_for_label }}')">{{ form.thickness_is_fixed }}</td>
        <td {% if form.sld.errors %}class='error_row' title='{{ form.sld.errors|first }}'{% endif %}>{{ form.sld }}</td><td onclick="set_fixed('#{{ form.sld_is_fixed.id_for_label }}')">{{ form.sld_is_fixed }}</td>
        <td {% if form.roughness.errors %}class='error_row' title='{{ form.roughness.errors|first }}'{% endif %}>{{ form.roughness }}</td><td onclick="set_fixed('#{{ form.roughness_is_fixed.id_for_label }}')">{{ form.roughness_is_fixed }}</td>
        <td class='icon_input'> <span id='{{ form.remove.id_for_label }}_icon' title='Click to remove this entry' class="ui-icon ui-icon-trash" onclick="remove_entry('#{{ form.remove.id_for_label }}', '#{{ form.layer_number.id_for_label }}', '#{{ form.name.id_for_label }}', '#{{ form.thickness.id_for_label }}', '#{{ form.sld.id_for_label }}', '#{{ form.roughness.id_for_label }}', '#{{ form.thickness_is_fixed.id_for_label }}', '#{{ form.sld_is_fixed.id_for_label }}', '#{{ form.roughness_is_fixed.id_for_label }}')"></span></td>
      </tr>{% endfor %}
      <tr class="short_input">
        <td>Back</td>
        <td {% if data_form.back_name.errors %}class='error_row' title='{{ data_form.back_name.errors|first }}'{% endif %}>{{ data_form.back_name }}</td><td>-</td><td></td>
        <td {% if data_form.back_sld.errors %}class='error_row' title='{{ data_form.back_sld.errors|first }}'{% endif %}>{{ data_form.back_sld }}</td><td onclick="set_fixed('#{{ data_form.back_sld_is_fixed.id_for_label }}')">{{ data_form.back_sld_is_fixed }}</td>
        <td {% if data_form.back_roughness.errors %}class='error_row' title='{{ data_form.back_roughness.errors|first }}'{% endif %}>{{ data_form.back_roughness }}</td><td onclick="set_fixed('#{{ data_form.back_roughness_is_fixed.id_for_label }}')">{{ data_form.back_roughness_is_fixed }}</td>
        <td></td><td></td>
      </tr>
    </tbody>
  </table>

  <span style="float: right; margin-left:15px;" >
  <input class="ui-button ui-widget ui-corner-all" id="choose_file_button" title="Click to set your data and get the latest fit" type="submit" name="button_choice" value="set data"/>
  <input class="ui-button ui-widget ui-corner-all" id="submit_button" title="Click to fit your data" type="submit" name="button_choice" value="fit"/>
  <input class="ui-button ui-widget ui-corner-all" id="evaluate_button" title="Click to evaluate the current model" type="submit" name="button_choice" value="evaluate"/>
  </span>
  <p>
  <hr>

  <h2>Fitting parameters {%if chi2 %}<span class='layer'>[&#x3C7;<sup>2</sup>={{chi2}}]</span>{% endif %}</h2> 

  Q range: {{ data_form.q_min }} to {{ data_form.q_max }} 1/&#8491;
  <p>
  <table class="property_table">
    <thead><tr><th>Parameter</th> <th>Value</th> <th>Minimum</th> <th>Maximum</th><th></thead>
    <tbody>
      <tr id='{{ data_form.scale_is_fixed.id_for_label}}_range'><td>scale</td>
        <td>{{ data_form.scale.value }}{%if data_form.scale_error.value %} &#177; {{ data_form.scale_error.value }}{% endif %}</td>
        <td {% if data_form.scale_min.errors %}class='error_row' title='{{ data_form.scale_min.errors|first }}'{% endif %}>{{ data_form.scale_min }}</td>
        <td {% if data_form.scale_max.errors %}class='error_row' title='{{ data_form.scale_max.errors|first }}'{% endif %}>{{ data_form.scale_max }}</td>
      </tr>
      <tr id='{{ data_form.background_is_fixed.id_for_label}}_range'><td>background</td>
        <td>{{ data_form.background.value }}{%if data_form.background_error.value %} &#177; {{ data_form.background_error.value }}{% endif %}</td>
        <td {% if data_form.background_min.errors %}class='error_row' title='{{ data_form.background_min.errors|first }}'{% endif %}>{{ data_form.background_min }}</td>
        <td {% if data_form.background_max.errors %}class='error_row' title='{{ data_form.background_max.errors|first }}'{% endif %}>{{ data_form.background_max }}</td>
      </tr>
      <tr class='layer'><td><hr></td><td>Front material: {{ data_form.front_name.value }}</td><td><hr></td><td><hr></td></tr>
      <tr id='{{ data_form.front_sld_is_fixed.id_for_label}}_range'><td>{{ data_form.front_name.value }} SLD</td>
        <td>{{ data_form.front_sld.value }}{% if data_form.front_sld_error.value %} &#177; {{ data_form.front_sld_error.value }}{% endif %}</td>
        <td {% if data_form.front_sld_min.errors %}class='error_row' title='{{ data_form.front_sld_min.errors|first }}'{% endif %}>{{ data_form.front_sld_min }}</td>
        <td {% if data_form.front_sld_max.errors %}class='error_row' title='{{ data_form.front_sld_max.errors|first }}'{% endif %}>{{ data_form.front_sld_max }}</td>
      </tr>
    {% for form in layers_form %}
      <tr class='layer'><td><hr></td><td>Layer: {{ form.name.value }}</td><td><hr></td><td><hr></td></tr>
      <tr id='{{ form.thickness_is_fixed.id_for_label}}_range'><td>{{ form.name.value }} thickness</td>
        <td>{{ form.thickness.value }}{% if form.thickness_error.value %} &#177; {{ form.thickness_error.value }}{% endif %}</td>
        <td {% if form.thickness_min.errors %}class='error_row' title='{{ form.thickness_min.errors|first }}'{% endif %}>{{ form.thickness_min }}</td>
        <td {% if form.thickness_max.errors %}class='error_row' title='{{ form.thickness_max.errors|first }}'{% endif %}>{{ form.thickness_max }}</td>
      </tr>
      <tr id='{{ form.sld_is_fixed.id_for_label}}_range'><td>{{ form.name.value }} SLD</td>
        <td>{{ form.sld.value }}{%if form.sld_error.value %} &#177; {{ form.sld_error.value }}{% endif %}</td>
        <td {% if form.sld_min.errors %}class='error_row' title='{{ form.sld_min.errors|first }}'{% endif %}>{{ form.sld_min }}</td>
        <td {% if form.sld_max.errors %}class='error_row' title='{{ form.sld_max.errors|first }}'{% endif %}>{{ form.sld_max }}</td>
      </tr>
      <tr id='{{ form.roughness_is_fixed.id_for_label}}_range'><td>{{ form.name.value }} roughness</td>
        <td>{{ form.roughness.value }}{%if form.roughness_error.value %} &#177; {{ form.roughness_error.value }}{% endif %}</td>
        <td {% if form.roughness_min.errors %}class='error_row' title='{{ form.roughness_min.errors|first }}'{% endif %}>{{ form.roughness_min }}</td>
        <td {% if form.roughness_max.errors %}class='error_row' title='{{ form.roughness_max.errors|first }}'{% endif %}>{{ form.roughness_max }}</td>
      </tr>{% endfor %}
      <tr class='layer'><td><hr></td><td>Back material: {{ data_form.back_name.value }}</td><td><hr></td><td><hr></td></tr>
      <tr id='{{ data_form.back_sld_is_fixed.id_for_label}}_range'><td>{{ data_form.back_name.value }} SLD</td>
        <td>{{ data_form.back_sld.value }}{% if data_form.back_sld_error.value %} &#177; {{ data_form.back_sld_error.value }}{% endif %}</td>
        <td {% if data_form.back_sld_min.errors %}class='error_row' title='{{ data_form.back_sld_min.errors|first }}'{% endif %}>{{ data_form.back_sld_min }}</td>
        <td {% if data_form.back_sld_max.errors %}class='error_row' title='{{ data_form.back_sld_max.errors|first }}'{% endif %}>{{ data_form.back_sld_max }}</td>
      </tr>
      <tr id='{{ data_form.back_roughness_is_fixed.id_for_label}}_range'><td>{{ data_form.back_name.value }} roughness</td>
        <td>{{ data_form.back_roughness.value }}{%if data_form.back_roughness_error.value %} &#177; {{ data_form.back_roughness_error.value }}{% endif %}</td>
        <td {% if data_form.back_roughness_min.errors %}class='error_row' title='{{ data_form.back_roughness_min.errors|first }}'{% endif %}>{{ data_form.back_roughness_min }}</td>
        <td {% if data_form.back_roughness_max.errors %}class='error_row' title='{{ data_form.back_roughness_max.errors|first }}'{% endif %}>{{ data_form.back_roughness_max }}</td>
      </tr>
    </tbody>
  </table>
</form>


<script>
function compute_size(id) { 
    if($(id).val().length > 30) {
        var len = ($(id).val().length-30)/15;
        size = 11-Math.round(len); 
        if(size >= 8) $(id).css("font-size",size + "px")
    } else $(id).css("font-size","11px");
    if($(id).val().length == 0) {$(id).css("background","#faffbd")};
}
compute_size('#id_data_path');
$('.font_resize').keyup(function(ev) {
  compute_size(this);
});
set_fixed('#{{ data_form.scale_is_fixed.id_for_label }}');
set_fixed('#{{ data_form.background_is_fixed.id_for_label }}');
set_fixed('#{{ data_form.front_sld_is_fixed.id_for_label }}');
set_fixed('#{{ data_form.back_sld_is_fixed.id_for_label }}');
set_fixed('#{{ data_form.back_roughness_is_fixed.id_for_label }}');
{% for form in layers_form %}
compute_size('#{{ form.name.id_for_label }}');
set_fixed('#{{ form.thickness_is_fixed.id_for_label }}');
set_fixed('#{{ form.sld_is_fixed.id_for_label }}');
set_fixed('#{{ form.roughness_is_fixed.id_for_label }}');{% endfor %}
</script>

{% if job_id %}
<script type="text/javascript">
    (function poll() {
        setTimeout(function() {
                $.ajax({
                    type: "GET",
                    url: "{% url 'fitting:is_completed' job_id %}",
                    success: function(data) {
                        if (data.completed==true) {
                            new_alert("Fit completed: <a href='{% url 'fitting:fit' instrument data_id %}'>click here</a> to view the results"); show_alert();
                        } else {
                            new_alert("Job status: " + data.status); show_alert();
                        }
                    },
                    dataType: "json",
                    complete: poll,
                    statusCode: { 401: function() { new_alert("Your session expired. Please log in again"); show_alert(); }},
                    timeout: 2000
                })
        }, 2000);
    })();
</script>
{% endif %}
{% endblock %}

{% block right_side_links %}
  <span style="float:right">
    <a href="{% url 'fitting:show_files' %}">show files</a>
  </span>
{% endblock %}
