{% extends "base.html" %}

{% block content %}
<h2> Save Model Information</h2>

<table class="property_table">
    <thead>
      <tr><th>Layer number</th><th>Name</th> <th>Thickness (&#8491;)</th> <th>SLD (10<sup>-6</sup>/&#8491;<sup>2</sup>)</th> <th>Roughness (&#8491;)</th>
    </thead>
    <tbody>
      <tr class="short_input">
        <td>Front</td>
        <td>{{ object.fit_problem.reflectivity_model.front_name }}</td><td>-</td><td>{{ object.fit_problem.reflectivity_model.front_sld }}</td>
        <td>-</td><td></td><td></td>
      </tr>
    {% for layer in object.fit_problem.layers.all %}
      <tr class="short_input">
        <td>{{ layer.layer_number}}</td>
        <td>{{ layer.name }}</td>
        <td>{{ layer.thickness }}</td>
        <td>{{ layer.sld }}</td>
        <td>{{ layer.roughness }}</td>
      </tr>{% endfor %}
      <tr class="short_input">
        <td>Back</td>
        <td>{{ object.fit_problem.reflectivity_model.back_name }}</td><td>-</td>
        <td>{{ object.fit_problem.reflectivity_model.back_sld }}</td>
        <td>{{ object.fit_problem.reflectivity_model.back_roughness }}</td>
        <td></td><td></td>
      </tr>
    </tbody>
  </table>

<p>
<form action="" method="POST">{% csrf_token %}
{{ form.as_p }}
  <input class="ui-button ui-widget ui-corner-all" title="Click to save your model information" type="submit" value="update"/>
</form>
<p>
{% endblock %}
