import numpy
from refl1d.names import *

# Maximum Q-value ##############################################################
q_max = ${Q_MAX}

reduced_file = "${REDUCED_FILE}"

Q, R, dR, dQ = numpy.loadtxt(reduced_file).T
i_max = len([x for x in Q if x<q_max])-1

# SNS data is FWHM
dQ_std = dQ/2.35
probe = QProbe(Q[:i_max], dQ_std[:i_max], data=(R[:i_max], dR[:i_max]))

# Materials ####################################################################
${MATERIALS}

# Film definition ##############################################################
${SAMPLE}

${RANGES}

${SAMPLE_RANGES}
################################################################################


expt = Experiment(probe=probe, sample=sample)
problem = FitProblem(expt)






# Materials ####################################################################
Substrate   = SLD(name='Si',   rho=2.07, irho=0.0)
SiOx        = SLD(name='SiOx', rho=3.43, irho=0.0)
Cu          = SLD(name='Cu',   rho=6.658, irho=0.0)
aSi         = SLD(name='aSi',  rho=1.968, irho=0.0)
SEI         = SLD(name='SEI',  rho=1.33, irho=0.0)
Electrolyte = SLD(name='Electrolyte', rho=5.55, irho=0.0)

# Film definition ##############################################################
# Boundaries for free parameters can be defined below.                         #
# All other parameters are kept constant.                                      #

sample = ( Substrate(0, 9.76) | SiOx(34.94, 11) | Cu(62.17, 7.51) | aSi(995.25, 15.45) |  SEI(44.6, 5) | air )

#sample = ( Substrate(0, 15) | SiOx(59, 11) | Cu(57.9, 11) | aSi(1000, 1) | air )
#sample = ( Substrate(0, 15) | Cu(57.9, 11) | aSi(1000, 1) |  SEI(44.6, 10) | air )


#sample['SiOx'].interface.range(0, 15)
#sample['SiOx'].material.rho.range(1.0, 4.2)
#sample['SiOx'].thickness.range(0, 40)

#sample['Cu'].interface.range(0, 25)
#sample['Cu'].material.rho.range(6, 6.65)
#sample['Cu'].thickness.range(45, 85)

#sample['aSi'].material.rho.range(1.5, 2.1)
#sample['aSi'].material.rho = get_sld(sample['aSi'].thickness)
#sample['aSi'].thickness.range(500, 1100)
sample['aSi'].interface.range(3, 30)

sample['SEI'].material.rho.range(0.0, 2.0)
sample['SEI'].thickness.range(40, 80)
sample['SEI'].interface.range(4.7, 15)

#sample['Si'].interface.range(5, 45)

probe.intensity=Parameter(value=1.0,name="unity")
#probe.background.range(1e-8,1e-6)
################################################################################


expt = Experiment(probe=probe, sample=sample)
problem = FitProblem(expt)
