import os
import sys
import time
import subprocess

def submit():
    output_dir = "${OUTPUT_DIR}"
    data_dir = "${WORK_DIR}"
    if not os.path.isdir(output_dir):
        os.makedirs(output_dir)
${PROCESS_DATA}

    model_file = """
import numpy
import os
from refl1d.names import *
from math import *
import warnings
import matplotlib.cbook
warnings.filterwarnings("ignore",category=matplotlib.cbook.mplDeprecation)
warnings.simplefilter('ignore', UserWarning)
${MODELS}

problem = FitProblem(${EXPT_LIST})
"""
    model_path = os.path.join(data_dir, '__model.py')
    with open(model_path, 'w') as fd:
        fd.write(model_file)

    cmd = "rm -f %s/*; PATH='${REFL1D_PATH}:$$PATH'; refl1d_cli.py --fit=${ENGINE} --steps=${REFL1D_STEPS} --burn=${REFL1D_BURN} --store=%s %s --batch --parallel" % (output_dir, output_dir, model_path)
    output_log = os.path.join(data_dir, 'fit.log')
    fd = open(output_log, 'w')
    fd.write("Starting fit: %s\n" % time.ctime())
    output_code = subprocess.call(cmd, stdout=fd, stderr=fd, shell=True)
    fd.write("Fit complete: %s\n" % time.ctime())

    try:
        with open(os.path.join(output_dir, '__model.err'), 'r') as out_params:
            model_params = out_params.read()
            fd.write(model_params)
            print("MODEL_PARAMS_START")
            print(model_params)
            print("MODEL_PARAMS_END")
    except:
        fd.write("Error: could not process fit results\n")
        print(sys.exc_value)

    try:
        with open(os.path.join(output_dir, '__model.par'), 'r') as out_params:
            model_params = out_params.read()
            fd.write(model_params)
            print("MODEL_BEST_VALUES_START")
            print(model_params)
            print("MODEL_BEST_VALUES_END")
    except:
        fd.write("Error: could not process fit results\n")
        print(sys.exc_value)

    i_model = 0
    for i in ${EXPT_LIST}:
        i_model += 1
        print("EXPT_START %s" % i)
        try:
            with open(os.path.join(output_dir, '__model-%d-refl.dat' % i_model), 'r') as out_refl:
                print("REFL_START")
                print(out_refl.read())
                print("REFL_END")
        except:
            fd.write("Error: could not read reflectivity output\n")
            print(sys.exc_value)

        try:
            with open(os.path.join(output_dir, '__model-%d-profile.dat' % i_model), 'r') as out_sld:
                sld_profile = out_sld.read()
                print("SLD_START")
                print(sld_profile)
                print("SLD_END")
        except:
            fd.write("Error: could not process SLD profile\n")
            print(sys.exc_value)
        print("EXPT_END %s" % i)
    fd.close()

if __name__ == '__main__':
    t_0 = time.time()
    submit()
    delta_time = time.time() - t_0
    print("Done: %g sec" % delta_time)
